  <div class="offer-holder" id="services">
    <!--todo-->
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1366 302.7" style="enable-background:new 0 0 1366 302.7;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#F7E8F6;}
</style>
<path class="st0" d="M1366.5,20.8c-329,164-731.5,183.5-935.5,192.5s-431,90-431,90l-0.5-303h1366L1366.5,20.8z"/>
<g>
	<defs>
		<path id="SVGID_1_" d="M1366.5,20.8c-329,164-731.5,183.5-935.5,192.5s-431,90-431,90l-0.5-303h1366L1366.5,20.8z"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<g style="clip-path:url(#SVGID_2_);">

			<image style="overflow:visible;" width="1366" height="1367" xlink:href="../../assets/kropki_svg.png"  transform="matrix(1 0 0 1 -8.9995 -581.4062)">
		</image>
	</g>
</g>
</svg>









    <div class="offer">
      <div class="header">
        <h1>What is that we can offer you?</h1>
      </div>
      <div class="offerScrollHack" id="offerScrollHack"></div>
      <div class="line"></div>
      <div class="offer-text">
        <div class="offer-des">
          <p>Gardening</p>
          <span>Praesent sed lectus posuere, consequat leo vel, ultrices nunc. Curabitur felis sem, porta mattis velit sed,
               finibus pretium diam. Donec nisi elit, varius at rutrum velt</span>
        </div>

        <div class="offer-des">
          <p>Landscape design</p>
          <span>Praesent sed lectus posuere, consequat leo vel, ultrices nunc. Curabitur felis sem, porta mattis velit sed,
                finibus pretium diam. Donec nisi elit, varius at rutrum velt</span>
        </div>

        <div class="offer-des">
          <p>Garden party</p>
          <span>Praesent sed lectus posuere, consequat leo vel, ultrices nunc. Curabitur felis sem, porta mattis velit sed,
                finibus pretium diam. Donec nisi elit, varius at rutrum velt</span>
        </div>
        <img src="../../assets/images/offer/cloud.png" alt="cloud" class="cloud">
        <img src="../assets/images/offer/cactuses.png" alt="cactuses" class="cactus">
      </div>

    </div>
<div class="imgHolder">


  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1366 135.8" style="enable-background:new 0 0 1366 135.8;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#F7E8F6;}
</style>
<path class="st0" d="M0,77.9c0,0,377,0,614-51s636-27,752,51v59H0V77.9z"/>
<g>
	<defs>
		<path id="SVGID_1_" d="M0,77.9c0,0,377,0,614-51s636-27,752,51v59H0V77.9z"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<g style="clip-path:url(#SVGID_2_);">

			<image style="overflow:visible;" width="1366" height="1367" xlink:href="../../assets/kropki_svg.png"  transform="matrix(1.0154 0 0 1.0154 0 -1005.0994)">
		</image>
	</g>
</g>
</svg>

</div>

  </div>


