  <div class="offer-holder">
    <h1>What is that we can offer you></h1>

    <div class="offer-des">
      <p>Gardening</p>
      <span>Praesent sed lectus posuere, consequat leo vel, ultrices nunc. Curabitur felis sem, porta mattis velit sed,
      finibus pretium diam. Donec nisi elit, varius at rutrum velt</span>
    </div>

    <div class="offer-des">
      <p>Landscape design</p>
      <span>Praesent sed lectus posuere, consequat leo vel, ultrices nunc. Curabitur felis sem, porta mattis velit sed,
      finibus pretium diam. Donec nisi elit, varius at rutrum velt</span>
    </div>

    <div class="offer-des">
      <p>Garden party</p>
      <span>Praesent sed lectus posuere, consequat leo vel, ultrices nunc. Curabitur felis sem, porta mattis velit sed,
      finibus pretium diam. Donec nisi elit, varius at rutrum velt</span>
    </div>
    <img src="../../assets/images/offer/cloud.png" alt="cloud" class="cloud">
    <img src="../assets/images/offer/cactuses.png" alt="cactuses">

  </div>

