@import "../../assets/style/general";

.offer-holder{
  //padding: 190px 20px 130px 20px;
  .offer{
    padding: 30px 0 190px 0;
  }
  svg{
    margin-top: -1px;

  }
  display:block;
  position: relative;
  background-color: $gray-background;
  overflow: hidden;
  .cloud{
    position: absolute;
    margin-top: -65px;
    margin-right: 40px;
    z-index: 1;
    right: 0;
  }
  .cactus{
    max-width:100%;
    max-height: 246px;
    position: absolute;
    bottom: 6px;
    left: -10px;
    z-index: 0;
  }


  h1{
    font-size: 1.5rem;
    color: $green;
    padding-left: 20px;

  }
  .offer-text{
    padding: 0 20px;
    .offer-des{
      z-index: 2;
      position: relative;
      text-align: justify;

      p{
        color: $green;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 15px;
      }
    }
  }
  .imgHolder{
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: -7px;
  }
}
//570px
@include breakpoint($mobile-large){
  .offer-holder{
    .cactus{
      bottom: 22px;
    }
    .cloud{
      left: 220px;
    }
  }
}


@include breakpoint($medium-up){
  .offer-holder{
    .cactus{
      bottom: 31px;
      z-index: 1;
    }
    //padding: 190px 0 130px 0;
    .cloud{
      margin-top: -80px;
      left: 80px;
      z-index: 0;
    }
    .offer{
      display: flex;
      max-width: 1000px;
      margin: 0 auto;
      padding: 30px 40px 190px 40px;
      ////border: 1px dashed deeppink;

      .header{
        ////border: 1px solid red;
        padding-left: 0;
        width: 50%;
        h1{
          font-size: 4rem;
          margin: 0;
          text-align: right;
          padding-right: 40px;
        }
      }
      .offerScrollHack{
        width: 1px;
        position: absolute;
        border: 1px solid red;
        margin-top: 750px;



      }

      .offer-text{
        ////border: 1px solid blue;
        width: 50%;
        padding: 0;
        .offer-des{
          width: auto;
          padding: 0 40px;
          text-align: justify;
        }
      }
      div{
        width: 100%;
        padding-left: 20px;

        &.line{
          width: 1px;
          background-color: $green;
          padding: 0;
          margin-top: 20px;
        }
      }
    }

  }
}

@include breakpoint($desktop-up){
  .offer-holder{
    .cactus{
      max-height: 100%;
      bottom: 42px;
    }
    .cloud{
      margin-top: -165px;
      left: 180px;
    }
    .offer{
      padding: 30px 40px 225px 40px;

    }
  }
}
@include breakpoint(1500px){
  .offer-holder{
    .cactus{
      bottom: 60px;
    }
    .offer{
      padding: 30px 40px 250px 40px;

    }
  }
}
@include breakpoint(1700px){
  .offer-holder{
    .offer{
      padding: 30px 40px 290px 40px;

    }
  }
}
@include breakpoint(1900px){
  .offer-holder{
    .cactus{
      bottom: 74px;
    }
    .offer{
      padding: 30px 40px 330px 40px;
    }
  }
}
