
<div class="about-holder" id="about">
  <h1>About us</h1>
  <div class="text-holder">
      <p>Piece of plant team</p>
      <span>
      Suspendisse luctus porta dolor in luctus. Donec elementum mollis nulla sed iaculis. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas. Donec in diam eget mi dignissim bibendum at eu sem.
      Mauris a risus pharetra, imperdiet velit quis, pharetra augue. Ut tincidunt imperdiet tellus quis bibendum.
      </span>
  </div>

  <img src="../../assets/images/about/lady.png" alt="lady">
</div>
