@import "../../assets/style/general";

.contact-holder{
  padding: 20px 20px 40px 20px;
  background-color: $green-background;
  border-top-left-radius: 400px 35px;
  span{
    text-align: justify;
  }
  h1{
    color: $green;
  }
  .findUs{
    margin-top: 40px;
  }
  .icons{
    display: flex;
    .fb{
      cursor: pointer;
      height: 47px;
      width: 47px;
      margin-right: 10px;
      background-image: url("../../assets/images/contact/facebook.png");
      background-repeat: no-repeat;
      &:hover{
        background-image: url("../../assets/images/contact/facebook_on.png");
      }
    }
    .insta{
      @extend .fb;
      background-image: url("../../assets/images/contact/instagram.png");
      &:hover{
        background-image: url("../../assets/images/contact/instagram_on.png");
      }
    }
  }
  //.fb{
  //  margin-right: 10px;
  //}
  .form{
    margin-top: 10px;
    .block{
      display: block;
    }
    button{
      cursor: pointer;
      background: none;
      border: 1px solid #616161;
      float: right;
      padding: 5px 25px;
      color: #958f8f
    ;
    };
  }
}
@include breakpoint($medium-up){
  .contact-holder{

    padding: 20px 20px 75px 20px;
    .contact-limit{
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
      margin: 0 auto;
      .findUs{
        font-size: 4rem;
        display: block;
        text-align: right;
        width: 50%;
        margin-left: -40px;
        margin-top: 0;

      }
      .contact{
        padding-right: 40px;
        text-align: justify;
        direction:rtl;

        h1{
          text-align: right;
          font-size: 4rem;
        }
      }
      div{
        flex: 1 0 50%; /* explanation below */
        box-sizing: border-box;

      }
      .form{
        margin-top: 120px;
        padding-left: 40px;
      }
      .contact-footer{
        .icons{
          width: 50%;
          justify-content: flex-end;
          padding-right: 30px;
          .fb{
            max-height: 47px;
            max-width: 47px;
          }
        }
      }
    }


  }
}


