<div class="header">
  <!--burger -->
  <button class="hamburger hamburger--spin" [ngClass]= "isActive ? 'is-active' : ''" type="button" (click)="burgerTrigger()">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <div class="header--inactive" [ngClass]= "!isActive ? 'is-active' : ''">
    <!--logo-->
    <img src="../../assets/images/header/logo.png" alt="logo">
  </div>


  <div class="header--active" [ngClass]= "isActive ? 'is-active' : ''">
    <ul>
      <li>plants</li>
      <li>services</li>
      <li>about</li>
      <li>contact</li>
    </ul>
  </div>

</div>
