@import "../../assets/style/general";
.footer{
  background-color: $black;
  color: $light-gray;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.65rem;
  text-transform: uppercase;

  p{
    box-sizing: border-box;
    width: 50%;
  }
}

@include breakpoint($medium-up){
  .footer{
    flex-wrap: nowrap;

    p{
      text-align: center;
    }
  }
}
