/* You can add global styles to this file, and also import other style files */
@import "../node_modules/hamburgers/dist/hamburgers.css";
@import "./assets/style/general";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/style/material-theme';
@import "./assets/style/loader";
//set outline none to all focus elements
:focus {
  outline: 0;
}

//body
body{
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  background-color: $pink-background;
}


span{
  line-height: 1.8;
}
h1{
  margin-bottom: 5px;
}

.dots{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  &.small{
    display: block;
  }
  &.large{
    display: none;
  }
}

@include breakpoint($medium-up){
  .dots{
    width: auto !important;
    &.small{
      display: none;
    }
    &.large{
      display: block;
      max-width: none;
      max-height: none;
    }
    &.large1{
      left: 1300px;
      max-width: none;
      max-height: none;
    }
    &.large2{

      left: 2600px;
      max-width: none;
      max-height: none;
    }
  }
}
