@import "../../assets/style/general";
.gallery-holder{
  //border: 1px solid red;
  overflow: hidden;
  background-color: $pink-background;
  .gallery{
    position: relative;
    min-height: 400px;
    .img-holder{
      padding: 10px 50px;
      display: flex;
      justify-content: center;
      img{
        max-width:100%;
        max-height:100%;
      }
    }
    .navigation{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width:100%;
      top: 50%;
      z-index: 1;
      .leftArrow{
        background-image: url("../../assets/images/arrows/arrow.png");
        background-repeat: no-repeat;
        width: 28px;
        height: 38px;
        cursor: pointer;
        margin-left: 20px;
        &:hover{
          background-image: url("../../assets/images/arrows/full-arrow.png");
        }
      }
      .rightArrow{
        @extend .leftArrow;
        margin-left: 0;
        margin-right: 20px;
        transform: rotate(180deg);

      }
    }
  }
  .description{
    padding: 0 20px 20px 20px;
    text-align: justify;
    .title{
      color: $green;
      font-weight: bold;
      font-size: 1.2rem;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    p{
      margin: 0;
    }
  }

}

